@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gamesweb.com">Support@gamesweb.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gamesweb.com">Marketing@gamesweb.com</a>
</address>