@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>GamesWeb</h1>
    <p class="lead">This is my first project at ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Code First Approach</h2>
        <p>
            This is fully functional Web Application with database 
            made in code first approach. Forms are implemented 
            to create new games and users with built-in validations.
        </p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Web API</h2>
        <p>RESTful Services with ASP.NET Web API has been developed.
        This API is absorbed by JQuery Ajax to display bootstrap dialogboxes
        and tables that support pagination, searching and sorting.</p>
    </div>
    <div class="col-md-4">
        <h2>Authentication and Authorization </h2>
        <p>Added Authentication and Authorization 
        (also with social logins – Facebook and Google).</p>
    </div>
</div>