@model GamesWeb.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <h2>Customers</h2>
    <h2>@Model.FirstName @Model.LastName</h2>
    <p>Membership Type: @Model.MembershipType.Name</p>
    @{
        if (Model.Birthdate.HasValue)
        {
            <p> Birthdate: @Model.Birthdate</p>
        }
     }

</body>