@model IEnumerable<GamesWeb.Models.IdentityModels>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Subscription Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</p>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userName",
                        render: function (data, type, customer) {
                            return "<a class='btn btn-outline-info' href='/customers/edit/" + customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a>" + customer.firstName + " " + customer.lastName + "</a>";
                        }
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-outline-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "Are you sure you want to delete this customer?",
                    closeButton: false,
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}
